@model ClothesForm
@{
    ViewBag.Title = "Formulaire d'ajout de vetement";
}

<h1>Ajouter une nouveau vetement</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-controller="Clothes" asp-action="Add">
    
    <div class="mb-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class= "form-control" />
        <span asp-validation-for="Name" class = "text-danger"></span>
    </div>
    
    <div class="mb-2">
        <label asp-for="Color"></label>
        <input asp-for="Color" class= "form-control" />
        <span asp-validation-for="Color" class = "text-danger"></span>
    </div>
    
    <div class="mb-2">
        <label asp-for="Size"></label>

        @* ↓ Génération de la DropDownList sur base d'une liste de SelectItem *@
        @*<select asp-for="Size" asp-items="ViewBag.SizeSelectList" class= "form-control"></select>*@

        @* ↓ Alternative qui génére directement la liste via l'enumeration *@
        <select asp-for="Size" asp-items="Html.GetEnumSelectList(Model.Size.GetType())" class= "form-control"></select>

        <span asp-validation-for="Size" class = "text-danger"></span>
    </div>
    
    <div class="mb-2">
        <label asp-for="WashTemp"></label>
        <input asp-for="WashTemp" class= "form-control" />
        <span asp-validation-for="WashTemp" class = "text-danger"></span>
    </div>
    
    <div class="mb-2">
        <label asp-for="DryerAllow"></label>
        <input asp-for="DryerAllow" class= "form-control" />
        <span asp-validation-for="DryerAllow" class = "text-danger"></span>
    </div>
    
    <div class="mb-2">
        <label asp-for="Price"></label>
        <input asp-for="Price" class= "form-control" />
        <span asp-validation-for="Price" class = "text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-outline-dark">Ajouter</button>
    </div>

</form>


